
$primary-color: #007094;
$secondary-color: #008aab;

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  pointer-events: none;
}

.App-header {
  background-color: #eeeeee;
  display: flex;
  height: 20vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color:$primary-color;
}

.container {
  display: flex;
  flex-direction: column;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.configuration-container {
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Segoe UI', Arial, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.banner-introduction {
  background-color:$primary-color;
  color: #ffffff;
  text-align: center;
  & p {
    font-size: 18px;
    color: #fff;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 3em 2em;
  margin: auto;
  overflow: hidden;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('./shared/Segoe\ UI.ttf') format('truetype');
}

.link {
  color: #FFFFFF;
  &-button{
    border: 1px solid #FFFFFF;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    box-shadow: 0 2px 0 rgba(0,0,0,.015);
    border-radius: 5px;
    height: auto;
    padding: 8px 24px;
    color: #FFFFFF;
    margin-top: 1em;
    font-size: 18px;
  }
}